/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
 body {
     background-color: #151515 ;
 }
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

/* navbar styling */
.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 1px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s ease;
    border-bottom: 1px solid #72727e33;
    background-color: #151515;
}
.nav-bar.sticky{
    padding: 15px 0;
    background: #151515;
    border-bottom: 1px solid #72727e33;

}
.nav-bar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 2px;
    text-decoration: none;
}
.colchetes {
    transition: all 0.9s ease;
    color:crimson;
}
.nav-bar .menu li{
    list-style: none;
    display: inline-block;
    justify-content: center;
}
.nav-bar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    justify-content: center;
    padding-top: 15px;
    transition: color 0.3s ease;
}
.nav-bar .menu li a:hover{
    color: rgb(212, 22, 22);
    text-decoration: none;
}
.nav-bar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    background: #151515;
    color: #fff;
    min-height: 500px;
}
.title-page {
    margin: 10px 10px 10px 122px;
}
.botao-marketing {
    color: white;
    background: #151515;
    font-size: 14px;
    font-family:'Rubik', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    padding: 8px 30px;
    border: 1px solid crimson;
    border-radius: 30px;
    cursor: pointer;
}
.botao-marketing:hover {
    background: crimson;
    border: 1px solid crimson;
    color: white;
    transition: .4s;    
}
.botao-recursoshum {
    color: white;
    background: #151515;
    font-size: 14px;
    font-family:'Rubik', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    padding: 8px 30px;
    border: 1px solid crimson;
    border-radius: 30px;
    cursor: pointer;
}
.botao-recursoshum:hover {
    background: crimson;
    border: 1px solid crimson;
    color: white;
    transition: .4s;    
}  
.botao-gerais {
    color: white;
    background: #151515;
    font-size: 14px;
    font-family:'Rubik', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    padding: 8px 30px;
    border: 1px solid crimson;
    border-radius: 30px;
    cursor: pointer;
}
.botao-gerais:hover {
    background: crimson;
    border: 1px solid crimson;
    color: white;
    transition: .4s;    
} 
.title-page:hover{
    text-decoration: crimson;
    opacity: 70%;
}
.card {
    text-align: justify;
    font-size: 15px;
    background: black;
    color: #151515;
}
.footer {
    text-align:center; 
    background-color:#111; 
    color:white;
    padding: 15px 23px;
}

/* responsive media query start */

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .nav-bar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .nav-bar .menu.active{
        left: 0;
    }
    .nav-bar .menu li{
        display: block;
    }
    .nav-bar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .card-hidemobile {
        display: none;
    }
    .title-page {
        margin: 120px;
    }
}


@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .espaço-desktop {
        display: none;
    }
    .card-hidemobile {
        display: none;
    }
    .title-page {
        justify-content: center;
        font-size: 22px;
    }
}
@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .card-hidemobile {
        display: none;
    }
    .title-page {
        justify-content: flex-start;
        font-size: 20px;
    }
}